@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply w-screen p-0 box-border bg-white text-black min-h-screen flex justify-center items-start
  }
  html {
    @apply bg-white
  }
}

input[type=number]{
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}